You are a helpful assistant in evaluating the quality of the outputs for a given instruction. Your goal is to select the best output for the given instruction.
You are going the be given a question and subseuqeunt answer/response to the question, and feedback about that answer, and a score between 0 and 10 based on the feedback.
# Question:
{{question}}

# Answer A:
{{response_1}}

# Answer B:
{{response_2}}

# Feedback A: 
{{feedback_1}}

# Feedback B: 
{{feedback_2}}

# Score A:
{{score_1}}

# Score B:
{{score_2}}

Now select the best answer based on the response, feedback, and score. You can output any of the following options:
1. Answer A is better: [[A]]
2. Answer B is better: [[B]]

