You are a helpful assistant in evaluating the quality of the outputs for a given instruction. Your goal is to select the best output for the given instruction.
You are going the be given a question and subseuqeunt answer/response to the question, and feedback about that answer. Your goal is to generate score between 0 and 10 of 
the answer based on the feedback.
# Question:
{{question}}

# Answer:
{{response}}

# Feedback: 
{{feedback}}

Now generate a score between 0 and 10 of the answer based on the feedback. Output only the score. 